Source: aioredis
Section: python
Priority: optional
Maintainer: Piotr Ożarowski <piotr@debian.org>
Uploaders: Debian Python Team <team+python@tracker.debian.org>
Build-Depends: debhelper-compat (= 9), dh-python,
 python3-all,
 python3-setuptools,
 python3-hiredis,
# tests
 python3-pytest,
 python3-pytest-cov,
 python3-async-timeout,
 redis-server,
Standards-Version: 4.1.1
Homepage: http://aioredis.readthedocs.io/
Vcs-Git: https://salsa.debian.org/python-team/packages/aioredis.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/aioredis

Package: python3-aioredis
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: asyncio (PEP 3156) Redis support
 The library is intended to provide simple and clear interface to Redis based
 on asyncio.
 .
 Features:
  * Connections pool
  * Low-level & high-level API
  * hiredis parser
